BasedOnStyle: LLVM

Language: Cpp
ColumnLimit: 100
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
PenaltyReturnTypeOnItsOwnLine: 1000
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
Cpp11BracedListStyle: false
PointerAlignment: Left